# PR Based Deploy On OpenShift
# Builds and Deploys unmerged PR's to temporary pods/services/routes/etc in the OpenShift Dev environment.
name: PR-Based Deploy on OpenShift

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  checkEnv:
    name: Print Env variables
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.event.pull_request.merged == false }}
    steps:
      - name: Print Env Vars
        run: |
          echo OC CLI Version: $(oc version)
          echo Git Base Ref: ${{ github.base_ref }}
          echo Git Change ID: ${{ github.event.number }}
          echo Git Pull Request Ref: ${{ github.event.pull_request.head.sha }}
          echo Git Event Name: ${{ github.event_name }}
          echo Git Event Action: ${{ github.event.action }}
          echo Git Branch Ref: ${{ github.head_ref || github.ref_name }}
          echo Git Labels: "$LABELS"
          echo PR in Draft: ${{ github.event.pull_request.draft }}

  # Scans the commit against past commits, and determines if any jobs are skippable (due to no changes in target files).
  # Note: this does not take into account the current branch and will check past workflows from any branch, so an
  # additional check against the current branch is added to the `if` in the build jobs below.
  skipDuplicateActions:
    name: Check for duplicate actions
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - checkEnv
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
      paths_result: ${{ steps.skip_check.outputs.paths_result }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths_filter: |
            app:
              paths:
                - 'app/src/**'
                - 'app/package*.json'
                - 'app/.pipeline/**'
              paths_ignore:
                - 'app/src/**/*.test.ts'
                - 'app/**.md'

  # Checkout the repo once and cache it for use in subsequent jobs
  checkoutRepo:
    name: Checkout and cache target branch
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: |
      github.event.pull_request.merged == false && 
      github.event.pull_request.draft == false
    env:
      PR_NUMBER: ${{ github.event.number }}
    needs:
      - skipDuplicateActions
    steps:
      - name: Checkout Target Branch
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      # Cache the repo
      - name: Cache repo
        uses: actions/cache@v3
        id: cache-repo
        env:
          cache-name: cache-repo
        with:
          # Cache repo based on the commit sha that triggered the workflow
          path: ${{ github.workspace }}/*
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}

      # Install Node - for `node` and `npm` commands
      # Note: This already uses actions/cache internally, so repeat calls in subsequent jobs are not a performance hit
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14

  # Build the web frontend app image
  buildAPP:
    name: Build APP Image
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: |
      github.event.pull_request.merged == false && 
      github.event.pull_request.draft == false && 
      !(fromJSON(needs.skipDuplicateActions.outputs.paths_result).app.should_skip && fromJSON(needs.skipDuplicateActions.outputs.paths_result).app.skipped_by.branch == github.head_ref)
    env:
      PR_NUMBER: ${{ github.event.number }}
      APP_NAME: "biohubbc-app"
    needs:
      - checkoutRepo
      - skipDuplicateActions
    steps:
      # Load repo from cache
      - name: Cache repo
        uses: actions/cache@v3
        id: cache-repo
        env:
          cache-name: cache-repo
        with:
          path: ${{ github.workspace }}/*
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}

      # Checkout the branch if not restored via cache
      - name: Checkout Target Branch
        if: steps.cache-repo.outputs.cache-hit != 'true'
        uses: actions/checkout@v3

      # Install Node - for `node` and `npm` commands
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
          # cache-dependency-path: app/.pipeline/package-lock.json
          # cache: "npm"

      # Log in to OpenShift.
      # Note: The secrets needed to log in are NOT available if the PR comes from a FORK.
      # PR's must originate from a branch off the original repo or else all openshift `oc` commands will fail.
      # - name: Log in to OpenShift
      #   run: oc login --token=${{ secrets.TOOLS_SA_TOKEN }} --server=https://api.silver.devops.gov.bc.ca:6443

      # Scale down any existing OpenShift pods for this PR deployment
      # Why? The new pods will be deployed before the existing pods are terminated, and twice the resources will be needed
      # in that moment. If not enough resources are available to spin up the new pods, then they may fail to deploy.
      # - name: Scale down app pods
      #   run: |
      #     oc project af2668-dev
      #     oc get deploymentconfig --selector env-id=$PR_NUMBER,app-name=$APP_NAME -o name | awk '{print "oc scale --replicas=0  " $1}' | bash

      # Install app pipeline node modules
      # Note: This already caches node modules internally
      - name: Install pipeline node modules
        working-directory: app/.pipeline/
        run: npm ci
      # - name: Install app pipeline node modules
      #   uses: bahmutov/npm-install@v1
      #   with:
      #     working-directory: app/.pipeline/
      #     useRollingCache: true

      # Build the app image
      - name: Build APP Image
        working-directory: app/.pipeline/
        run: |
          DEBUG=* npm run build -- --pr=$PR_NUMBER

  # Report the overall status of all deployments.
  # Note: skipped jobs are considered successes, cancelled jobs are considered failures.
  deploymentStatus:
    name: Deployment Status
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: |
      always() &&
      github.event.pull_request.merged == false && 
      github.event.pull_request.draft == false
    needs:
      - buildAPP
    steps:
      - name: Log result
        run: |
          echo needs.buildAPP.result: ${{ needs.buildAPP.result }}

      - name: Report success
        if: |
          !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled')
        run: |
          echo All deployments completed successfully or were skipped
          exit 0

      - name: Report failure
        if: |
          contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: |
          echo One or more deployments failed or was cancelled
          exit 1
