# PR Based Deploy On OpenShift
# Builds and Deploys unmerged PR's to temporary pods/services/routes/etc in the OpenShift Dev environment.
name: Test Actions

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  cacheRepo:
    name: Checkout and cache target branch
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ github.event.number }}
    steps:
      - name: Checkout Target Branch
        uses: actions/checkout@v2

      - name: Print Vars
        run: |
          echo Git workspace: ${{ github.workspace }}
          echo "Git workspace: $GITHUB_WORKSPACE"
          echo Git Sha ${{ github.sha }}

      - name: Print Vars
        run: |
          ls /home/runner/work/test-actions

      - name: Print Vars
        run: |
          ls /home/runner/work/test-actions/test-actions

      # Cache Node modules
      - name: Cache repo
        uses: actions/cache@v2
        env:
          cache-name: cache-repo
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ${{ github.workspace }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Print Vars
        run: |
          ls /home/runner/work/test-actions

      - name: Print Vars
        run: |
          ls /home/runner/work/test-actions/test-actions

      # - name: Upload Target Branch
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: repo-cache
      #     path: ${{ github.workspace }}

      # - name: Print Vars
      #   run: |
      #     ls /home/runner/work/test-actions

      # - name: Print Vars
      #   run: |
      #     ls /home/runner/work/test-actions/test-actions

      # - name: Download Target Branch
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: repo-cache
      #     path: /home/runner/work/test-actions-cache/test-actions

      # - name: Print Vars
      #   run: |
      #     ls /home/runner/work/test-actions-cache

      # - name: Print Vars
      #   run: |
      #     ls /home/runner/work/test-actions-cache/test-actions

  buildApp1:
    name: Build App 1
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == false && github.event.pull_request.draft == false }}
    env:
      PR_NUMBER: ${{ github.event.number }}
    needs:
      - cacheRepo
    steps:
      - name: Print Vars
        run: |
          pwd

      - name: Print Vars
        run: |
          ls -la

      # Cache Node modules
      - name: Cache repo
        uses: actions/cache@v2
        env:
          cache-name: cache-repo
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ${{ github.workspace }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Print Vars
        run: |
          ls -la

      # Checkout the PR branch
      - name: Checkout Target Branch
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v2

      - name: Print Vars
        run: |
          ls -la

      # Install Node - for `node` and `npm` commands
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      # Cache Node modules
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Print Vars
        run: |
          ls -la

      - name: Build App 1
        working-directory: "./app1"
        run: |
          npm ci --only=production

      - name: Print Vars
        run: |
          ls -la

  buildApp2:
    name: Build App 2
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == false && github.event.pull_request.draft == false }}
    env:
      PR_NUMBER: ${{ github.event.number }}
    needs:
      - buildApp1
    steps:
      # Checkout the PR branch
      - name: Checkout Target Branch
        uses: actions/checkout@v2

      # Install Node - for `node` and `npm` commands
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      # Cache Node modules
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Build App 2
        working-directory: "./app2"
        run: |
          npm ci --only=production
